<h1>Welcome to Car Rentals! Your one stop shop to renting cars!</h1>
<h2>Pick a car to view details</h2>

<ul>
  <% @cars.each do |car| %>
  <li>
    <p><%= car.title %></p>
    <p><%= car.brand %></p>
    <p><%= car.year %></p>
    <%= link_to  "View details to see availability", car_path(car) %>
    <% if car.user == current_user %>
      <%= button_to "Delete Car", car_path(car), method: :delete,
            data: { turbo: false, confirm: "Are you sure you want to delete this car?" },
            class: "bg-red-500 text-white px-3 py-1 rounded" %>
    <% end %>
  </li>
  <% end %>
</ul>
