<h1 class="text-3xl font-bold mb-2 text-center">Welcome to Car Rentals! Your one stop shop to renting cars!</h1>
<div class="m-6 p-4 border border-gray-300 rounded text-center">
  <form action="<%= search_cars_path %>" method="get">
  <input type="text" name="location" placeholder="Location" class="border border-gray-300 rounded p-2 mr-2">
  <input type="date" name="start_date" >
  <input type="date" name="end_date" >
  <button type="submit" >Search</button>
  </form>
</div>
<% if @cars.empty? %>
  <p class="text-center text-gray-600 text-xl p-8">No cars available for your search. Try different dates or location.</p>
<% else %>
  <ul>
    <% @cars.each do |car| %>
      <li class="border border-gray-300 rounded p-4 mb-4">
        <p><%= car.title %></p>
        <p><%= car.brand %></p>
        <p><%= car.year %></p>
        <% if car.photo.attached? %>
          <%# <img src="" alt=""> %>
          <%= cl_image_tag car.photo.key, height: 100, width: 150, class: "h-10 w-16 obect-cover rounded-md" %>
        <% else %>
          <div class="h-10 w-16 rounded-md bg-gray-200"></div>
        <% end %>
        <%= link_to  "View details to see availability", car_path(car),
        class: "inline-block text-blue-500 border border-blue-500 px-3 py-1 rounded hover:bg-blue-50 mt-2 text-sm" %>
      </li>
    <% end %>
  </ul>
<% end %>
