<h1><%= @car.title %></h1>
<h2><%= @car.year %> <%= @car.brand %> <%= @car.model %></h2>

<div>
  <p><strong>Seats:</strong> <%= @car.seats %></p>
  <p><strong>Price per day:</strong> <%= @car.price_per_day %></p>
  <p><strong>Address:</strong> <%= @car.address %></p>
</div>


<% if @car.photo.attached? %>
  <div class>
  <%= cl_image_tag @car.photo.key, height: 300, width: 400 %>
<% else %>
  <div class="flex items-center justify-center mt-3 h-60 w-70 rounded-md bg-gray-200">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-20">
      <path d="M.97 3.97a.75.75 0 0 1 1.06 0l15 15a.75.75 0 1 1-1.06 1.06l-15-15a.75.75 0 0 1 0-1.06ZM17.25 16.06l2.69 2.69c.944.945 2.56.276 2.56-1.06V6.31c0-1.336-1.616-2.005-2.56-1.06l-2.69 2.69v8.12ZM15.75 7.5v8.068L4.682 4.5h8.068a3 3 0 0 1 3 3ZM1.5 16.5V7.682l11.773 11.773c-.17.03-.345.045-.523.045H4.5a3 3 0 0 1-3-3Z" />
    </svg>
<% end %></div>

<div class="mb-6">
  <h3 class="text-lg font-semibold mb-2">Location</h3>
  <div data-controller="show-map"
       data-show-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>"
       data-show-map-latitude-value="<%= @car.latitude %>"
       data-show-map-longitude-value="<%= @car.longitude %>"
       class="h-64 w-full rounded border border-gray-300 overflow-hidden">
  </div>
</div>

<% if current_user == @car.user %>
    <div class="car-owner-actions">
      <%= link_to "Delete Car",
          car_path(@car),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this car?" },
          class: "btn btn-danger" %>
    </div>
  <% else %>
      <%= form_with model: [@car, @booking], local: true do |f| %>
        <div class="mb-4">
          <%= f.label :start_date, "Start Date:" %>
          <%= f.date_field :start_date %>
        </div>

        <div class="mb-4">
          <%= f.label :end_date, "End Date:" %>
          <%= f.date_field :end_date %>
        </div>

        <%= f.submit "Book Now" %>
      <% end %>
<% end %>

<%= link_to "Back to home", root_path %>
